body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 12px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #89ABE3FF;
}

#navbar a {
    float: left;
    display: block;
    color: #FCF6F5FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #FCF6F5FF;
    color: #89ABE3FF;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
